.main-navi ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.main-navi ul li a{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}
.main-navi ul li span{
    color: var(--light);
    margin-right: 24px;
}
.main-navi ul li span:last-child{
    margin-right: 0;
}